<div style="background-color: #07192F; " class="hdb">

<footer style="height: 22em;" class=" text-white">
    <div id="birdmobile" style="height: 22em;"></div>
    <div style="margin-top: -19%;" class="container p-3 text-white absolute mx-auto">
      <div class="flex flex-wrap">
          <div class="w-full px-4 md:w-6/12">
              <h3
                  class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-inherit mb-2">
                  Executiveconsults</h3>
              <h5
                  class="block antialiased tracking-normal font-sans text-inherit mt-0 mb-2 text-lg font-normal opacity-60">
                  The Executiveconsults team crafts a unique website that every customer will cherish as a one-of-a-kind experience.</h5>
              <div class="mt-6"><a href="/" target="_blank"
                      rel="noreferrer"><i
                          class="fa fa-twitter text-light-blue-400 font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center shadow-lg outline-none focus:outline-none"
                          aria-hidden="true"></i></a><a
                      href="h/" target="_blank"
                      rel="noreferrer"><i
                          class="fa fa-facebook-square text-light-blue-600 font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center shadow-lg outline-none focus:outline-none"
                          aria-hidden="true"></i></a><a
                      href="h/" target="_blank"
                      rel="noreferrer"><i
                          class="fa fa-dribbble text-pink-400 font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center shadow-lg outline-none focus:outline-none"
                          aria-hidden="true"></i></a><a
                      href="https://www.github.com/official?" target="_blank"
                      rel="noreferrer"><i
                          class="fa fa-github text-gray-900 font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center shadow-lg outline-none focus:outline-none"
                          aria-hidden="true"></i></a><a
                      href="https://discord.com/invite/gxtg2drJa?" target="_blank"
                      rel="noreferrer"><i
                          class="fa fa-discord text-blue-700 font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center shadow-lg outline-none focus:outline-none"
                          aria-hidden="true"></i></a></div>
          </div>
          <div class="w-full px-4 md:w-6/12">
              <div class="items-top mb-6 flex flex-wrap">
                  <div class="w-6/12 pt-6 md:ml-auto md:px-4 md:pt-0 xl:w-4/12"><span
                          class="mb-2 block text-lg font-bold text-[#ffff]">Useful Links</span>
                      <ul class="list-unstyled">
                          <li><a href="https://www..com/presentation?"
                                  target="_blank" rel="noreferrer"
                                  class="block pb-2 text-sm font-normal text-[#fff]/60">About Us</a></li>
                                  <li><a href="/terms" target="_blank"
                                      rel="noreferrer" class="block pb-2 text-sm font-normal text-[#ffff]/60">Terms</a>
                              </li>
                              <li><a href="/privacy" target="_blank"
                                  rel="noreferrer" class="block pb-2 text-sm font-normal text-[#ffff]/60">Privacy</a>
                          </li>
                          <li><a href="/cookies" target="_blank"
                              rel="noreferrer" class="block pb-2 text-sm font-normal text-[#ffff]/60">Cookies</a>
                      </li>
              
                    
                      </ul>
                  </div>
             
              </div>
          </div>
      </div>
      <hr class="border-gray-300 my-6">
      <div class="flex flex-wrap items-center justify-center gap-2 md:justify-between">

          <div class="w-full px-4 text-center md:w-4/12 md:px-0 md:text-right">
              <div class="py-1 text-sm font-medium">Copyright © 2024 <a
                      href="/" target="_blank" rel="noreferrer"
                      class="text-inherit transition-all">powered by executiveconsults</a></div>
          </div>
      </div>
  </div>
  </footer>
</div>
