<% layout('./layouts/boilerplate.ejs')%> 

<title>FAQ - Executiveconsults</title>
    <meta name='description'         content="Contact us anytime, day or night, on social media. We're always happy to hear your suggestions, and we'll get back to you as soon as possible.">
    <meta property='og:description'  content="Contact us anytime, day or night, on social media. We're always happy to hear your suggestions, and we'll get back to you as soon as possible.">
    <meta name='twitter:description' content="Contact us anytime, day or night, on social media. We're always happy to hear your suggestions, and we'll get back to you as soon as possible.">
    <style>
        body{
          --color-background: hsl(226, 41%, 92%);
      }
      
          .navigation{
             background-color: var(--color-background); 
          } 
          .qland{
              width: 100%;
              padding: 1em;
              background-color: var(--color-background);
      
          }
          .qas{
              margin-right: 10em;
              margin-left: 10em;
          }
          .guid-card{
            min-width: 20em;
            max-width: 20em;
      
          }
          .dark\:bg-opacity-80{
            --tw-bg-opacity: ;
            display: none;
          }
          @media screen and (max-width: 768px) {
              .qas{
                  margin-right: 1em;
                  margin-left: 1em;
              }
              .guid-card{
                  min-width: 100%;
                  max-width: 100%;
              }
              .bout{
                display: flex;
                flex-direction: column;
              }
              .cookies{
                margin-left: 0rem;
              }
              .qt{
                font-size: 1em;
              }
              .login-btn{
                display: none;
              }
      
          }
      
      </style>
<div class="content rounded-lg overflow-scroll" id="content-menu" style="">
    <div class="">
        <div class="qland  flex flex-col text-center justify-center ">
            <span class="text-5xl font-bold qt">FAQ! How can we help!</span><br>
            <br>
           <div class="flex flex-wrap">

            <a href="https://discord.gg/WbTARBJMzb" target="_blank" class=" ml-2 mb-2 border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; height: 100%;">
              <img class="rounded-t-lg" src="/asset/icon-ds.jpg" alt="" />
            </a>
            <a href="https://www.youtube.com/channel/UCk5Z2Yf8bgnSdoOzozgnkDA" target="_blank" class=" ml-2 mb-2 border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; height: 100%;">
              <img class="rounded-t-lg" src="/asset/icon-yt.jpg" alt="" />
            </a>
            <a href="https://twitter.com/earntiz" target="_blank" class=" ml-2 mb-2 border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; height: 100%;">
              <img class="rounded-t-lg" src="/asset/icon-tw.jpg" alt="" />
            </a>
            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=earnitzreward@email.com&" target="_blank" class=" ml-2 mb-2 border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; height: 100%;">
              <img class="rounded-t-lg" src="/asset/icon-gm.png" alt="" />
            </a>
            
            
            
           
          </div>
          <hr> <br>
          <span class="font-semibold text-lg">Security Terms & Service/Policy</span>
          <div class="bout flex w-full">

          <div class="policy" style="width: 18em;">
            <button  data-modal-target="PolicyModel" data-modal-toggle="PolicyModel"  href="https://discord.gg/WbTARBJMzb" target="_blank" class=" ml-2 mb-2 border border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; max-width: 20em; height: 2em;">
              <img class="rounded-t-lg " style="" src="/asset/icon-tm.jpg " alt="" />
            </button>
            
            
          </div>
          <div class="cookies ml-11" style="width: 18em;">
            <button  data-modal-target="CookiesModel" data-modal-toggle="CookiesModel"  href="https://discord.gg/WbTARBJMzb" target="_blank" class=" ml-2 mb-2 border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; max-width: 20em; height: 2em;">
              <img class="rounded-t-lg " style="" src="/asset/icon-ck.jpg" alt="" />
            </button>
            
            
          </div>
          <div class="terms ml-11" style="width: 18em;">
            <a    href="/policy" target="_blank" class=" ml-2  border-0 border-gray-200 rounded-lg shadow " style="background-image: url('https://cdn.sanity.io/images/kts928pd/production/3a8feb0e279d07a02c91451aebf4dba91263075a-1140x620.png'); background-repeat: no-repeat; background-size: cover; width: 20em; max-width: 20em; ">
              <img class="rounded-t-lg " style="" src="/asset/icon-pr.jpg" alt="" />
            </a>
            
            
          </div>


        </div>
        <div class="togglers">

          <div class="policy">
            <div id="PolicyModel" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-7xl max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow ">
                      <!-- Modal header -->
                      <div class="flex items-start justify-between p-4 border-b rounded-t ">
                          <a href="/policy" class="text-xl font-semibold text-gray-900 ">
                              Terms of Service
                          </a>
                          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center " data-modal-hide="PolicyModel">
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                              </svg>
                              <span class="sr-only">Close modal</span>
                          </button>
                      </div>
                      <!-- Modal body -->
                      <div class="p-6 space-y-6" style="overflow: scroll; height: 33em;">
                        <%- include('../auth/terms.ejs') %>

                      </div>
                      <!-- Modal footer -->
                      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b ">
                          <button data-modal-hide="PolicyModel" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10  ">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          
          <div class="cookies">
            <div id="CookiesModel" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-7xl max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow ">
                      <!-- Modal header -->
                      <div class="flex items-start justify-between p-4 border-b rounded-t ">
                          <a href="/cookies" class="text-xl font-semibold text-gray-900 ">
                             Cookies
                          </a>
                          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center " data-modal-hide="CookiesModel">
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                              </svg>
                              <span class="sr-only">Close modal</span>
                          </button>
                      </div>
                      <!-- Modal body -->
                      <div class="p-6 space-y-6" style="overflow: scroll; height: 33em;">
                        <%- include('../auth/cookies.ejs') %>
                      </div>
                      <!-- Modal footer -->
                      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b ">
                          <button data-modal-hide="CookiesModel" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10  ">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          </div>
         

        </div>

            <!-- <div class="qas"><input type="text" id="first_name" class="animate-pulse  h-16 bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Search the help center" required></div> -->
        
          </div>
          <br>
        <div class="cardt flex flex-wrap">
        
        

        <div class=" guid-card mb-2 bg-white border border-gray-200 rounded-lg shadow ">
          <img class="rounded-t-lg w-full" src="/homeimg/webinars.jpg" alt="" />
        <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">About us</h5>
          </a>
          <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Earntiz not only offers incredible rewards but also provides a unique opportunity for businesses and platforms to connect with a wider audience. By partnering with us, you can tap into our active user base, driving traffic directly to your offerings. </p><br>
          <a  data-modal-target="ABoutus" data-modal-toggle="ABoutus" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  text-center bg-violet-700 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800 w-full">
             Read more
          </a>
        </div>
        
        </div>
        <div class="more">
          <div id="ABoutus" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow ">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t ">
                        <h3 class="text-xl font-semibold text-gray-900 >
                           About us
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center " data-modal-hide="ABoutus">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                      <span>

<b>Drive Traffic and Earn Rewards with Earntiz! </b><br>
🌐 Bridging the Gap: Earntiz not only offers incredible rewards but also provides a unique opportunity for businesses and platforms to connect with a wider audience. By partnering with us, you can tap into our active user base, driving traffic directly to your offerings.
<br>👥 Targeted Engagement: Leverage our user-friendly platform to engage with a diverse and motivated user community. With a range of interactive tasks, games, and offers, your content will be presented to an audience eager for new experiences.
<br>📈 Boost Visibility: Get noticed by potential customers or users looking for products, services, or platforms like yours. Earntiz serves as a powerful conduit to amplify your brand's visibility, ensuring it reaches the right people at the right time.
<br>🤝 Win-Win Collaboration: Our collaborative approach ensures that both users and partners benefit. Users earn rewards, while partners gain exposure and increased traffic. It's a mutually beneficial arrangement that drives growth for all parties involved.
<br>🔍 Analytics and Insights: Gain valuable insights into user behavior and preferences through our advanced analytics tools. Understand what resonates with your target audience and fine-tune your strategies for even greater success.
<br>🔧 Easy Integration: Seamlessly integrate your offerings with Earntiz to start driving traffic right away. Our user-friendly interface and dedicated support team are here to assist you every step of the way.
<br>🚀 Maximize Your Impact: Elevate your brand's presence in the digital landscape with Earntiz. Take advantage of our dynamic platform to reach a wider audience and make a lasting impression.
Ready to take your traffic to new heights? Partner with Earntiz and experience the benefits of a thriving user base today!
                      </span>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b ">
                        <button data-modal-hide="ABoutus" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10  dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- <div class=" guid-card mb-2 bg-white border border-gray-200 rounded-lg shadow ">
          <img class="rounded-t-lg" src="homeimg/guid.png" alt="" />
        <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Guides</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Browse our in-depth guides with your school we'll get you started and show all the features we have to provide</p>
          <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Read more
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
        </div>
        </div>
        <div class=" guid-card mb-2 bg-white border border-gray-200 rounded-lg shadow ">
          <img class="rounded-t-lg w-full" src="/homeimg/questions.png" alt="" />
        <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">contact</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Allow me to answer you upon any updates or bugs </p><br>
          <a href="https://mail.google.com/mail/u/0/?fs=1&to=zlivehe55@gmail.com&su=SUBJECT&body=BODY&tf=cm" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  text-center bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 w-full">
              Email
            
          </a>
        </div>
        </div>
        <div class=" guid-card mb-2 bg-white border border-gray-200 rounded-lg shadow ">
            <img class="rounded-t-lg w-full" src="/homeimg/questions.png" alt="" />
          <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">contact</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Allow me to answer you upon any updates or bugs </p><br>
            <a href="https://mail.google.com/mail/u/0/?fs=1&to=zlivehe55@gmail.com&su=SUBJECT&body=BODY&tf=cm" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  text-center bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 w-full">
                Email
              
            </a>
          </div>
          </div> -->
        
        </div>
    </div>

<!-- new -->

</div>