
<style>
     .flag-img {
      opacity: 0;
      animation: fadeIn 1s forwards;
    }

    /* Add this keyframes rule for the animation */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Add this style to increase the size on hover */
    .flag-img:hover {
      transform: scale(1.1);
    }
</style>

<section class="text-center items-center p-2 flex" style="min-height: calc(124vh - 100px);  background-image: linear-gradient( #24e1e1 , #24e1e1);">

    <div class="centers  z-50">

      
        <br>
        <div style="min-width: 13em;" class="my-9 flex flex-col ">
            <p class="text-lg font-bold mb-4 text-white text-5xl">Soupported Languges</p>
            <div class="flex flex-wrap justify-center categories  items-center" style=" align-items: center;">
    
              <div class="bg-redm-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/en.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/sp.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/kr.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/zh.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/fr.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/ab.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/jp.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/nt.png" alt="" srcset="">
              </div>
              <div class="bg-graym-200 text-gray-700 px-4 py-2 rounded-full mr-4 mb-4  flag-img">
               <img class="w-28 h-20 " src="/imgs/vt.png" alt="" srcset="">
              </div>
        
            </div>
          </div>
          
        <div class="relative">
            <br><br>

            <button class="getstartedbtn bg-red-500 text-center p-3 rounded-sm text-white  bg-white text-sm w-44 ">Get Started</button>
        </div>
        <br><br><br>
        <div class="relative hidden flex items-center justify-center">
            <img class="w-96" src="/imgs/ezmain.png" alt="" srcset="">
        </div>

    </div>
<div id="ring2" class="ring2"></div>

</section>

