<% layout('./layouts/boilerplate.ejs')%> 
<title>Resources</title>
<meta name='description'         content="These are the languages and resources we support. We make sure each project is exposed to them and inform our customers of their usage.">
<meta property='og:description'  content="These are the languages and resources we support. We make sure each project is exposed to them and inform our customers of their usage.">
<meta name='twitter:description' content="These are the languages and resources we support. We make sure each project is exposed to them and inform our customers of their usage.">

<div class="relative flex items-top justify-center min-h-screen  sm:items-center sm:pt-0">

<div  class="utilities flex flex-wrap">
    <br>
    <div class="w-full mb-5 flex justify-center text-center">
      <span class="text-4xl text-gray-200"> <b>  Utilites </b></span>
    </div>
    <br>
    <img class="  utilimgs mb-5 ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="" srcset="">
    <img class="  mb-5 utilimgs h-16 ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Progressive_Web_Apps_Logo.svg/1200px-Progressive_Web_Apps_Logo.svg.png" alt="" srcset="">
    <img class="  mb-5 utilimgs ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png" alt="" srcset="">

    <img class="  mb-5 utilimgs ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1024px-HTML5_logo_and_wordmark.svg.png" alt="" srcset="">
    <img class="w-20 mb-5 utilimgs ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/320px-Tailwind_CSS_Logo.svg.png" alt="" srcset="">
    <img class="  mb-5 utilimgs ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png" alt="" srcset="">
    <img class="  mb-5 utilimgs ml-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png" alt="" srcset="">
  </div>
  </div>