<% layout('./layouts/boilerplate.ejs')%> 
<title>Support</title>
<meta name='description'         content="Get in touch with us right now to speak with us face-to-face. We're available around-the-clock, so get a quotation online.">
<meta property='og:description'  content="Get in touch with us right now to speak with us face-to-face. We're available around-the-clock, so get a quotation online.">
<meta name='twitter:description' content="Get in touch with us right now to speak with us face-to-face. We're available around-the-clock, so get a quotation online.">


<div class="relative flex items-top justify-center min-h-screen  sm:items-center sm:pt-0">
    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="mt-8 overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="p-6 mr-2 bg-gray-100  sm:rounded-lg">
                    <h1 class="text-4xl sm:text-5xl text-gray-800 font-extrabold tracking-tight">
                        Get in touch
                    </h1>
                    <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600  mt-2">
                        Fill in the form to start a conversation
                    </p>

                    <div class="flex items-center mt-8 text-gray-600 ">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            Uniqu Inc, SilverSpring, Maryland,
                            20904
                        </div>
                    </div>

                    <div class="flex items-center mt-4 text-gray-600 ">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            +1 202-361-4645
                        </div>
                    </div>

                    <div class="flex items-center mt-2 text-gray-600 ">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            executiveconsults@gmail.com
                        </div>
                    </div>
                    <br>
                    <div class="w-full">
                        <div class="full justify-center text-center">
                            <span class="font-bold text-2xl">Also Available On </span>

                        </div>

                        <div class=" flex flex-wrap other">
                        <a href="https://discord.gg/Aqf7Ds8V">  <img class="w-10 h-10" src="https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png" alt="" srcset=""></a>   
                        
                        </div>
                    </div>
                </div>

                <form  id="contactForm" action="/submit-form" method="post"  class="p-6 flex flex-col justify-center" >
                    <div class="flex flex-col">
                        <label for="name" class="hidden">Your Name</label>
                        <input type="name" name="name" id="name" placeholder="Full Name" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none" required>
                    </div>

                    <div class="flex flex-col mt-2">
                        <label for="email" class="hidden">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none" required>
                    </div>


                    <div class="flex flex-col mt-2 ">
                        <label for="tel" class="hidden">Number</label>
                        <input type="tel" name="tel" id="tel" placeholder="Telephone Number" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none" required>
                    </div>
                    <select id="countries" name="category" class="bg-gray-50 mt-2  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        <option selected>Choose Category</option>
                        <option value="Online Store">Online Store</option>
                        <option value="Partnership"> Partnership</option>
                        <option value="Portfolio">Portfolio</option>
                        <option value="Photography">Photography</option>
                        <option value="Blog">Blog</option>
                        <option value="Community">Community</option>
                        <option value="Documentation">Documentation</option>
                        <option value="Landing Page"> Landing Page</option>



                      </select>
                    
                
                    <div class="flex flex-col mt-2">
                        <label for="company" class="hidden">Company Name</label>
                        <input type="company" name="company" id="company" placeholder="Company Name" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none" required>
                    </div>
                    <div class="relative max-w-sm hidden">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                          </svg>
                        </div>
                        <input datepicker type="text" class="  mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 " placeholder="Project Date">
                      </div>

                    <textarea id="message" rows="4" class="block mt-2 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Project Details"></textarea>

                    <button type="submit" class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
   
</script>